@import "./Footer/Footer";
@import './Nav/Nav';
@import './Header/Header';

body {
    background: $template-backgroundColor;
    color: $body-color;
    font-family: sans-serif;
    margin: 0;
}

.content {
    position: relative;
    min-height: 100vh;
    .menu {
        text-align: center;
        a{
            color: #fafafa;
            text-decoration: none;
        }
    }
    @include flex-layout(inherit, flex, column, inherit);
    section {
        flex: 1;
        @include flex-layout(inherit, flex, wrap, inherit);
        .category-container {
            flex: 1;
            @media(max-width: 768px) {
                flex: inherit;
                width: 100%;
            }
        }
    }
}
